.flotador {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    border-radius: 25%;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
}